/* body部*/
body {
    font-family: Arial, sans-serif; /* フォントファミリーを設定 */
    margin: 0; /* ページの外側の余白を0に設定 */
    background-image: url("../images/background5.png"); /* 背景画像を設定 */
    background-size: auto; /* 背景画像のサイズを自動に設定 */
}

/* header部 */
header {
    padding: 0% 15%; /* 親要素のパディングを設定 */
    height: 50px; /* 高さを設定 */
    background-color: white; /* 背景色を設定 */
    display: flex; /* 要素をフレックスボックスとして表示 */
    position: relative; /* 相対位置を設定 */
    justify-content: space-between; /* 要素間のスペースを均等に配置 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* 影を設定 */
}

.header__logo img {
    height: 60px; /* 画像の高さを設定 */
}

.header__list {
    box-sizing: border-box; /* ボックスモデルのサイズ計算方法を設定 */
    display: flex; /* 要素をフレックスボックスとして表示 */
    margin: 0; /* マージンを0に設定 */
    padding: 17px 0; /* パディングを設定 */
}

.header__list a {
    color: #000000; /* リンクの色を設定 */
    text-decoration: none; /* 下線をなくす */
    margin-right: 30px; /* 右マージンを設定 */
    font-size: 17px; /* フォントサイズを設定 */
}

/* カーソルを合わせたときの処理 */
.header__list a:hover {
    color: gray;
    text-decoration: none;
}

.header__list-item {
    list-style: none; /* リストのマーカーをなくす */
}

#header__hamburger:checked ~ .header__list_hamburger {
    transform: translateX(0%); /* X軸方向に要素を移動 */
    transition: 0.3s; /* アニメーションの時間を設定 */
}

.header__hamburger_input {
    display: none; /* 入力を非表示にする */
}

.header__hamburger_bg {
    /* background-color: #000; */
    cursor: pointer; /* カーソルをポインターに設定 */
    display: none; /* 要素を非表示にする */
    height: 100vh; /* 高さを100vhに設定 */
    left: 0; /* 左位置を設定 */
    opacity: 0.4; /* 透明度を設定 */
    position: absolute; /* 絶対位置を設定 */
    top: 0; /* 上位置を設定 */
    width: 100%; /* 幅を100%に設定 */
    z-index: 20; /* Zインデックスを設定 */
}

#header__hamburger:checked ~ .header__hamburger_bg {
    display: block; /* 要素を表示する */
}

.header__hamburger_button {
    display: none; /* 要素を非表示にする */
}

.header__hamburger_button-mark {
    background-color: #000; /* 背景色を設定 */
    display: block; /* 要素をブロック要素として表示 */
    height: 1px; /* 高さを設定 */
    transition: 0.3s; /* アニメーションの時間を設定 */
    width: 20px; /* 幅を設定 */
}


/* main部 */

main{
    margin: 2% 15%; /* マージンを設定 */
}

.content{
    margin:3%
}
.css-carousel-slider {
    width: 100%;
    /* max-width: 800px */ /* サイズ設定をする場合はここ(*1) */
    overflow: hidden;
    position: relative;
    z-index:-1;
}
.css-carousel-slider img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider .slide-wrap {
    width: 400%; /* 画像の合計数*100%を設定(*2) */
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 10;
    animation: css-carousel-slider 20s infinite; /* スライダーアニメーション全体の時間(*3) */
    animation-delay: 10s; /* スライダーが始まるまでの時間(*4) */
}
.css-carousel-slider .slide-wrap-main {
    width: 100%;
    z-index: 1;
    animation: css-carousel-slider-main 20s infinite; /* (*3)と同じ内容を設定 */
    animation-delay: 10s; /* (*4)と同じ内容を設定 */
}
.css-carousel-slider .slide {
    width: 100%;
}

/* スライダーアニメーションの設定(*5) */
@keyframes css-carousel-slider {
    0% { transform: translateX(0); }

    20% { transform: translateX(calc(1 / 4 * -100%)); }
    25% { transform: translateX(calc(1 / 4 * -100%)); }

    45% { transform: translateX(calc(2 / 4 * -100%)); }
    50% { transform: translateX(calc(2 / 4 * -100%)); }

    70% { transform: translateX(calc(3 / 4 * -100%)); }
    75% { transform: translateX(calc(3 / 4 * -100%)); }

    95% { transform: translateX(calc(4 / 4 * -100%)); }
    100% { transform: translateX(calc(4 / 4 * -100%)); }
}

@keyframes css-carousel-slider-main {
    0% { transform: translateX(100%); }
    75% { transform: translateX(100%); }
    95% { transform: translateX(0%);}
}


.content__title {
    margin: 2%;
    display: flex; /* 要素をフレックスボックスとして表示 */
    align-items: center; /* アイテムを中央揃え */
}

.content__title::before,
.content__title::after {
    content: ""; /* コンテンツを追加 */
    flex: 1; /* 伸縮可能な幅を設定 */
    height: 1px; /* 高さを設定 */
    margin: 0; /* マージンを0に設定 */
}

.content__title:before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)); /* グラデーションを設定 */
}

.content__title:after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)); /* 右から左へのグラデーションを設定 */
}


.content__description {
    padding: 0; /* パディングを0に設定 */
    text-align: center; /* テキストを中央揃え */
}

.content__description a:link {
    color: blue; /* リンクの色を設定 */
    text-decoration: none; /* 下線をなくす */
}

.content__description a:visited {
    color: blue; /* 訪問済みリンクの色を設定 */
    text-decoration: none; /* 下線をなくす */
}

.content__description a:hover {
    color: red; /* ホバー時のリンクの色を設定 */
    text-decoration: underline; /* 下線を引く */
}

.news__table .news__scrollbar {
    height: 250px; /* 高さを設定 */
    padding: 1%; /* パディングを設定 */
    border: 3px solid rgb(226, 225, 225); /* ボーダーを設定 */
    border-radius: 10px; /* ボーダーの角を丸める */
    background-color: rgba(255, 255, 255, 0.7); /* 背景色を設定 */
    margin-left: 0%; /* 左マージンを設定 */
    margin-right: 0%; /* 右マージンを設定 */
    overflow-y: scroll; /* 縦方向のスクロールバーを表示 */
}

.news__table dt {
    padding-top: 1%; 
    float: left; /* 左寄せ */
    margin-left: 3%; /* 左マージンを設定 */
    margin-top: 2.8px; /* 上マージンを設定 */
    /* margin-right: 10px; */
}

.news__table dd {
    padding: 1%;
    margin-left: 150px; /* 左マージンを設定 */
}

/* プロフィール画面用設定 */
.member {
    display: flex; /* 要素をフレックスボックスとして表示 */
    justify-content: center; /* アイテムを中央揃え */
    flex-wrap: wrap; /* アイテムを折り返す */
    margin-left: 0%; /* 左マージンを設定 */
    margin-right: 0%; /* 右マージンを設定 */
}

.profile {
    width: 150px; /* 幅を設定 */
    height: 250px; /* 高さを設定 */
    padding: 3%; /* パディングを設定 */
    margin: 0px 5px; /* マージンを設定 */
    /* border: 1px solid #5e5e5e; */
    /* border-radius: 10px; */
    /* display: flex; */
    flex-direction: column; /* アイテムを縦方向に配置 */
    align-items: center; /* アイテムを中央揃え */
    text-align: center; /* テキストを中央揃え */
}

.profile__img {
    display: block; /* ブロック要素として表示 */
    width: 150px; /* 幅を設定 */
    height: 150px; /* 高さを設定 */
    border-radius: 50%; /* 角を丸める */
    margin: 0 auto; /* 自動的に中央揃え */
}

.profile__name {
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* フォントの太さを設定 */
    font-size: 1.2rem; /* フォントサイズを設定 */
    margin: 1rem auto 1rem; /* マージンを設定 */
    letter-spacing: 0.1rem; /* 文字間隔を設定 */
}

.profile__desc {
    line-height: 1.6rem; /* 行の高さを設定 */
}


/* Lexiconのスタイル */

.article {
    max-width: auto; /* 最大幅を設定 */
    margin-left: 3%; /* 左マージンを設定 */
    margin-right: 3%; /* 右マージンを設定 */
    margin-top: 10px; /* 上マージンを設定 */
    margin-bottom: 10px; /* 下マージンを設定 */
    padding: 20px; /* パディングを設定 */
    padding-top: 0px; /* 上部のパディングを設定 */
    padding-bottom: 0px; /* 下部のパディングを設定 */
    background-color: #f9f9f9; /* 背景色を設定 */
    font-family: Arial, sans-serif; /* フォントファミリーを設定 */
    background: #FFF; /* 背景色を設定 */
    border: 1px solid #a3a2a2; /* ボーダーを設定 */
    flex-direction: column; /* アイテムを縦方向に配置 */
    /* 縦方向の並びを維持 */
    align-items: center; /* アイテムを中央揃え */
    border-radius: 10px; /* ボーダーの角を丸める */
}

.article__hidden {
    display: none; /* 要素を非表示にする */
}


.article .article__togglebtn::before {
    content: "＋"; /* コンテンツを追加 */
    display: inline-block; /* インラインブロック要素として表示 */
    margin-right: 5px;  /* コンテンツの間にマージンを設定 */
    color: rgb(92, 91, 91); /* テキストの色を設定 */
}

.article .article__togglebtn.expanded::before {
    content: "－"; /* コンテンツを追加 */
}

/* タグのスタイル */
.tags {
    display: flex; /* 要素をフレックスボックスとして表示 */
    flex-wrap: wrap; /* アイテムを折り返す */
    /* justify-content: center; */
    max-width: auto; /* 最大幅を設定 */
    margin-left: 10%; /* 左マージンを設定 */
    margin-right: 10%; /* 右マージンを設定 */
    margin-top: 10px; /* 上マージンを設定 */
    margin-bottom: 20px; /* 下マージンを設定 */
}

.tags--view {
    display: flex; /* 要素をフレックスボックスとして表示 */
    flex-wrap: wrap; /* アイテムを折り返す */
    /* justify-content: center; */
    margin-top: -10px; /* 上マージンを設定 */
    padding-left: 13px; /* 左パディングを設定 */
    pointer-events: none; /* ポインターイベントを無効化 */
}

.tags__tag {
    display: inline-block; /* インラインブロック要素として表示 */
    margin: 0px 0px 10px 10px; /* マージンを設定 */
    cursor: pointer; /* カーソルをポインターに設定 */
    background-color: #ffffff; /* 背景色を設定 */
    border: 1px solid rgb(161, 161, 161); /* ボーダーを設定 */
    padding: 1px 5px; /* パディングを設定 */
    border-radius: 0px; /* ボーダーの角を設定 */
}

.profile__tag {
    display: inline-block; /* インラインブロック要素として表示 */
    margin: 0px 0px 5px 0px; /* マージンを設定 */
    color: #3470f3; /* テキストの色を設定 */
    padding: 0px 5px; /* パディングを設定 */
    /* border-radius: 5px; */
    /* font-size: 15px; */
    border: 0px solid rgb(0, 0, 0); /* ボーダーを設定 */
}

/* 選択されたタグのスタイル */
.selected-tag {
    background-color: #0074d9; /* 背景色を設定 */
    color: #ffffff; /* テキストの色を設定 */
}


table {
    border-collapse: collapse;
    width: 100%;
}

table th,td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}


/*語呂合わせ用スタイル*/
.article__goro {
    position: relative; /* 相対位置を設定 */
    padding: 3px 4px; /* パディングを設定 */
    border: 0px solid black; /* ボーダーを設定 */
    background-color: #353535; /* 背景色を設定 */
    color: white; /* テキストの色を設定 */
    z-index: 10; /* Zインデックスを設定 */
    margin: 0px 10px 0px 0px; /* マージンを設定 */
    display: inline-block; /* インラインブロック要素として表示 */
}

.article__goro::after {
    content: ''; /* コンテンツを追加 */
    border: 1px solid #353535; /* ボーダーを設定 */
    position: absolute; /* 絶対位置を設定 */
    top: 2px; /* 上位置を設定 */
    right: -4px; /* 右位置を設定 */
    width: 100%; /* 幅を100%に設定 */
    height: 100%; /* 高さを100%に設定 */
    z-index: -1; /* Zインデックスを設定 */
}

/* スマホ・タブレット用CSS */
@media screen and (max-width: 900px) {
    /* header部 */
    header {
        padding: 0% 10%; /* 親要素のパディングを設定 */
    }

    .header__list_hamburger {
        background-color: #eeeeee; /* 背景色を設定 */
        align-items: flex-start; /* アイテムを上揃え */
        display: flex; /* 要素をフレックスボックスとして表示 */
        flex-direction: column; /* アイテムを縦方向に配置 */
        left: 0; /* 左位置を設定 */
        padding: 1rem; /* パディングを設定 */
        position: absolute; /* 絶対位置を設定 */
        transform: translateX(-100%); /* X軸方向に要素を移動 */
        transition: 0.3s; /* アニメーションの時間を設定 */
        top: 100%; /* 上位置を設定 */
        width: 100%; /* 幅を100%に設定 */
        opacity: 0.95; /* 透明度を設定 */
    }
    
    .header__list-item{
        margin-bottom: 5px; /* 下マージンを設定 */
    }

    .header__hamburger_button {
        align-items: center; /* アイテムを中央揃え */
        appearance: none; /* デフォルトの外観を無効にする */
        background-color: transparent; /* 背景色を透明に設定 */
        border: none; /* ボーダーをなくす */
        cursor: pointer; /* カーソルをポインターに設定 */
        display: flex; /* 要素をフレックスボックスとして表示 */
        flex-direction: column; /* アイテムを縦方向に配置 */
        gap: 5px; /* アイテム間の間隔を設定 */
        height: 50px; /* 高さを設定 */
        justify-content: center; /* アイテムを中央揃え */
        width: 32px; /* 幅を設定 */
    }
    
    #header__hamburger:checked ~ .header__hamburger_button .header__hamburger_button-mark:nth-of-type(1) {
        transform: translate(2px, 1px) rotate(45deg); /* X軸とY軸方向に要素を移動し、45度回転 */
        transform-origin: 0%; /* 回転の中心を設定 */
    }

    #header__hamburger:checked ~ .header__hamburger_button .header__hamburger_button-mark:nth-of-type(2) {
        opacity: 0; /* 透明度を0に設定 */
    }

    #header__hamburger:checked ~ .header__hamburger_button .header__hamburger_button-mark:nth-of-type(3) {
        transform: translate(2px, 3px) rotate(-45deg); /* X軸とY軸方向に要素を移動し、-45度回転 */
        transform-origin: 0%; /* 回転の中心を設定 */
    }

    /* main部 */
    main {
        margin: 1% 5%; /* マージンを設定 */
        /* background: rgba(255, 255, 255, 0.5); */
        /* opacity: 0.5; */
    }
    
    .profile {
        /* background: #ffffff; */
        width: 150px; /* 幅を設定 */
        padding: 5% 3%; /* パディングを設定 */
        /* margin: 0px 0px; */
    }

    .profile__img {
        display: block; /* ブロック要素として表示 */
        width: 140px; /* 幅を設定 */
        height: 140px; /* 高さを設定 */
        border-radius: 50%; /* ボーダーの半径を50%に設定 */
        margin: 0 auto; /* 左右のマージンを自動に設定 */
    }


    .content__table dd {
        margin-left: 130px; /* 左マージンを設定 */
        /* margin-right: 10px; */
    }

    .tags {
        display: flex; /* 要素をフレックスボックスとして表示 */
        flex-wrap: wrap; /* アイテムを折り返す */
        /* justify-content: center; */
        max-width: auto; /* 最大幅を設定 */
        margin-left: 1%; /* 左マージンを設定 */
        margin-right: 1%; /* 右マージンを設定 */
        margin-top: 10px; /* 上マージンを設定 */
        margin-bottom: 20px; /* 下マージンを設定 */
    }

    .article {
        max-width: auto; /* 最大幅を設定 */
        margin-left: 1%; /* 左マージンを設定 */
        margin-right: 1%; /* 右マージンを設定 */
        margin-top: 10px; /* 上マージンを設定 */
        margin-bottom: 10px; /* 下マージンを設定 */
        padding: 10px; /* パディングを設定 */
        padding-top: 0px; /* 上パディングを設定 */
        padding-bottom: 0px; /* 下パディングを設定 */
        background-color: #f9f9f9; /* 背景色を設定 */
        font-family: Arial, sans-serif; /* フォントファミリーを設定 */
        background: #FFF; /* 背景色を設定 */
        border: 1px solid #a3a2a2; /* ボーダーを設定 */
        flex-direction: column; /* アイテムを縦方向に配置 */
        /* 縦方向の並びを維持 */
        align-items: center; /* アイテムを中央揃え */
        border-radius: 10px; /* ボーダーの半径を設定 */
    }

    .PR__slideshow  {
        height: calc(100vw/3); /* 高さを計算して設定 */
    }
}