/* body部（全体）*/

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("../images/background3.png");
    /* background-color: rgb(222, 237, 245); */
    background-size: contain;
}


/* header部 */
#banner img {
    display: flex;
    /* width: 100%; */
    /* max-width: 100%; */
    /* height: 100%; */
}

nav {
    background-color: #ffffff;
    padding: 0px;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    /* overflow: hidden; floatをクリアするために必要 */
}

.logo {
    /* float: left; タイトルを左寄せ */
    height: 100px;
    width: auto;
    background-color: green;
}

.menu {
    float: right;
    /* メニューを右寄せ */
    background-color: red;
}

.parent {
    /* margin: 40px; */
    padding: 0% 17%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    /* position: fixed; */
}

.child1 {
    display: flex;
    text-align: center;
    /* background-color: green; */
}

.child1 img {
    height: 60px;
}

.child2 {
    /* background-color: blue; */
    padding: 17px 0px 0px 0px;
}

.child2 a {
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    /* line-height: 2.5; */
    font-size: 18px;
}

.parent-smapho {
    /* margin: 40px; */
    padding: 0% 5%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    /* position: fixed; */
}


/*カーソルを合わせたときの処理*/
nav a:hover {
    color: gray;
    text-decoration: none;
}

#wrap {
    margin: 1% 20%;
    /* background: rgba(255, 255, 255, 0.5); */
    /* opacity: 0.5; */
}


/* main部 */

section .title {
    padding: 0% 0%;
    /* padding-left: 10px; */
    display: flex;
    align-items: center;
}

section .title::before {
    content: "";
    display: inline-block;
    width: 100%;
    /* 線の長さを調整 */
    height: 1px;
}

section .title::before,
section .title::after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0;
    /*左右の余白を調整*/
}

.title:before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));

}

.title:after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));
}


.description {
    padding: 0px;
    text-align: center;
}

.description a:link {
    color: blue;
    text-decoration: none;
    /* 下線をなくす */
}

.description a:visited {
    color: blue;
    text-decoration: none;
    /* 下線をなくす */
}

.description a:hover {
    color: red;
    text-decoration: underline;
    /* 下線を引く */
}

.table .box_scrollbar {
    /* width:auto; */
    height: 250px;
    padding: 5px;
    border: 3px solid rgb(226, 225, 225);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 0%;
    margin-right: 0%;
    /* color:#000; */
    /* font-size:12px; */
    overflow-y: scroll;
}

.table dl {
    /* width: 800px; */
}

.table dt {
    float: left;
    margin-left: 3%;
    /* margin-right: 10px; */
}

.table dd {
    margin-left: 150px;
}


/* プロフィール画面用設定 */
.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* プロフィールが折り返されるようにする */
    margin-left: 0%;
    margin-right: 0%;
}

.profile {
    /* background: #ffffff; */
    width: 150px;
    height: 250px;
    padding: 3%;
    margin: 0px 5px;
    /* border: 1px solid #5e5e5e; */
    /* border-radius: 10px; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile__img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem auto 1rem;
    letter-spacing: 0.1rem;
}

.profile__desc {
    line-height: 1.6rem;
}

/* Lexiconのスタイル */

.article {
    max-width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background: #FFF;
    border: 1px solid #a3a2a2;
    flex-direction: column;
    /* 縦方向の並びを維持 */
    align-items: center;
    /* 要素を中央寄せ */
    border-radius: 10px;
}

.article-hidden {
    display: none;
}

.article .toggle-btn::before {
    content: "＋";
    display: inline-block;
    margin-right: 5px;
    color: rgb(92, 91, 91);
}

.article .toggle-btn.expanded::before {
    content: "－";
}

/* タグのスタイル */
.tags {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tags_view {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: -10px;
    padding-left: 13px;
    pointer-events: none;
}

.tag {
    display: inline-block;
    margin: 0px 5px 10px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}

.profile_tag {
    display: inline-block;
    margin: 0px 0px 5px 0px;
    color: #3470f3;
    /* background-color: rgba(255,255,255); */
    padding: 0px 5px;
    /* border-radius: 5px; */
    /* font-size: 15px; */
    border: 0px solid rgb(0, 0, 0);

}

/* 選択されたタグのスタイル */
.selected-tag {
    background-color: #0074d9;
    color: #ffffff;
}


/* 表のスタイルを設定 */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/*スクロールバーを常に表示する*/
html {
    overflow-y: scroll;
}

/*語呂合わせ用スタイル*/
.goro {
    width: fit-content;
    display: inline-block;
    margin-right: 5px;
    background-color: #cecfcf;
    padding: 3px 10px;
    border-radius: 3px;
    color: black;
}

.parent-smapho {
    display: none;
}

/* スマホ・タブレット用CSS */
@media screen and (max-width: 800px) {
    #wrap {
        margin: 1% 5%;
        /* background: rgba(255, 255, 255, 0.5); */
        /* opacity: 0.5; */
    }

    .parent {
        display: none;
    }

    .parent-smapho {
        display: flex;
    }

    .child2 a {
        margin-right: 5px;
        font-size: 18px;
    }

    .profile {
        /* background: #ffffff; */
        width: 130px;
    }

    /* #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0px 0 0 0;
    }

    #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
    }

    #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #313131;
        transform: translateY(-50%);
    }

    #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #313131;
    }

    #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #313131;
    }

    /*-閉じるアイコンー*/
    /* .close {
        position: relative;
        padding-left: 20px;
    }

    .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
    }

    .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
    }

    .toggle {
        transform: translateY(0);
        opacity: 1;
    } */

}