/* body部（全体）*/

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("../images/background5.png");
    /* background-color: rgb(222, 237, 245); */
    background-size: auto;
}


/* header部 */
#banner img {
    display: flex;
    /* width: 100%; */
    /* max-width: 100%; */
    /* height: 100%; */
}

nav {
    background-color: #ffffff;
    padding: 0px;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    /* overflow: hidden; floatをクリアするために必要 */
}

.logo {
    /* float: left; タイトルを左寄せ */
    height: 100px;
    width: auto;
    background-color: green;
}

.menu {
    float: right;
    /* メニューを右寄せ */
    background-color: red;
}

.parent {
    /* margin: 40px; */
    padding: 0% 19%;
    height: 50px;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    /* position: fixed; */
}

.child1 {
    display: flex;
    text-align: center;
    /* background-color: green; */
}

.child1 img {
    height: 60px;
}

.c-header__list {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 17px 0px 0px 0px;
}


.c-header__list a {
    color: #000000;
    text-decoration: none;
    margin-right: 30px;
    /* line-height: 2.5; */
    font-size: 18px;
}

.c-header__list-item {
    list-style: none;
    text-decoration: none;
}


/*カーソルを合わせたときの処理*/
nav a:hover {
    color: gray;
    text-decoration: none;
}

#wrap {
    margin: 1% 18%;
    /* background: rgba(255, 255, 255, 0.5); */
    /* opacity: 0.5; */
}

.slideshow-slide {
    text-align: center;
    position: relative;
    width: 100%;
    height: calc(100vw/6);
    overflow: hidden;
    border-color: #353535;
    border-radius: 5px;
    padding: 0;
    z-index: -1;
    background-color: red;
}

.slideshow-slide li {
    list-style: none;
    width: 100%;
    height: 100%;
    transition: 1s;
    top: 0;
    left: 0;
}

.slideshow-slide li.slide {
    top: 0;
    left: 100%;
    z-index: 10;
}

.slideshow-slide li:first-of-type {
    display: block!important;
}

.slideshow-slide img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; /* アスペクト比を保つために height を auto に変更 */
    max-width: 100%;
    max-height: 100%;
}

/* main部 */

section .title {
    padding: 0% 0%;
    /* padding-left: 10px; */
    display: flex;
    align-items: center;
}

section .title::before {
    content: "";
    display: inline-block;
    width: 100%;
    /* 線の長さを調整 */
    height: 1px;
}

section .title::before,
section .title::after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 0;
    /*左右の余白を調整*/
}

.title:before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));

}

.title:after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));
}

.pr {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin: 0 10%;
}

.description {
    padding: 0px;
    text-align: center;
}

.description a:link {
    color: blue;
    text-decoration: none;
    /* 下線をなくす */
}

.description a:visited {
    color: blue;
    text-decoration: none;
    /* 下線をなくす */
}

.description a:hover {
    color: red;
    text-decoration: underline;
    /* 下線を引く */
}

.table .box_scrollbar {
    /* width:auto; */
    height: 250px;
    padding: 5px;
    border: 3px solid rgb(226, 225, 225);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 0%;
    margin-right: 0%;
    /* color:#000; */
    /* font-size:12px; */
    overflow-y: scroll;
}

.table dl {
    /* width: 800px; */
}

.table dt {
    float: left;
    margin-left: 3%;
    margin-top: 2.8px;
    /* margin-right: 10px; */
}

.table dd {
    margin-left: 150px;
}


/* プロフィール画面用設定 */
.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* プロフィールが折り返されるようにする */
    margin-left: 0%;
    margin-right: 0%;
}

.profile {
    /* background: #ffffff; */
    width: 150px;
    height: 250px;
    padding: 3%;
    margin: 0px 5px;
    /* border: 1px solid #5e5e5e; */
    /* border-radius: 10px; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile__img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem auto 1rem;
    letter-spacing: 0.1rem;
}

.profile__desc {
    line-height: 1.6rem;
}

/* Lexiconのスタイル */

.article {
    max-width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background: #FFF;
    border: 1px solid #a3a2a2;
    flex-direction: column;
    /* 縦方向の並びを維持 */
    align-items: center;
    /* 要素を中央寄せ */
    border-radius: 10px;
}

.article-hidden {
    display: none;
}

.article .toggle-btn::before {
    content: "＋";
    display: inline-block;
    margin-right: 5px;
    color: rgb(92, 91, 91);
}

.article .toggle-btn.expanded::before {
    content: "－";
}

/* タグのスタイル */
.tags {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tags_view {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: -10px;
    padding-left: 13px;
    pointer-events: none;
}

.tag {
    display: inline-block;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgb(161, 161, 161);
    padding: 1px 5px;
    border-radius: 0px;
}

.tag-meta {
    display: inline-block;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgb(161, 161, 161);
    padding: 1px 5px;
    border-radius: 15px;
}

.profile_tag {
    display: inline-block;
    margin: 0px 0px 5px 0px;
    color: #3470f3;
    /* background-color: rgba(255,255,255); */
    padding: 0px 5px;
    /* border-radius: 5px; */
    /* font-size: 15px; */
    border: 0px solid rgb(0, 0, 0);

}

/* 選択されたタグのスタイル */
.selected-tag {
    background-color: #0074d9;
    color: #ffffff;
}


/* 表のスタイルを設定 */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/*スクロールバーを常に表示する*/
html {
    overflow-y: scroll;
}

/*語呂合わせ用スタイル*/
.goro_box {
    position: relative;
    padding: 3px 4px;
    border: 0px solid black;
    background-color: #353535;
    color: white;
    /* z-index: 10; */
    margin: 0px 10px 0px 0px;
    display: inline-block;
}
.goro_box::after {
    content: '';
    border: 1px solid #353535;
    position: absolute;
    top: 2px;
    right: -4px;
    width: 100%;
    height: 100%;
    z-index: -1;
}



#hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
}

.c-hamburger-menu__input {
    display: none;
}

.c-hamburger-menu__bg {
  /* background-color: #000; */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}
.c-hamburger-menu__button-mark {
    background-color: #000; /* カスタマイズしてください */
    display: block;
    height: 1px; /* カスタマイズしてください */
    transition: 0.3s; /* カスタマイズしてください */
    width: 20px; /* カスタマイズしてください */
}
/* スマホ・タブレット用CSS */
@media screen and (max-width: 800px) {
    .c-hamburger-menu__list {
        background-color: #eeeeee; /* カスタマイズしてください */
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 1rem; /* カスタマイズしてください */
        position: absolute;
        transform: translateX(-100%);
        transition: 0.3s; /* カスタマイズしてください */
        top: 100%;
        width: 100%;
        opacity: 0.95;
    }
    .c-header__list-item{
        margin-bottom: 5px;
    }

    .c-hamburger-menu__button {
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px; /* カスタマイズしてください */
        height: 50px; /* カスタマイズしてください */
        justify-content: center;
        width: 32px; /* カスタマイズしてください */
        }
        #hamburger:checked
        ~ .c-hamburger-menu__button
        .c-hamburger-menu__button-mark:nth-of-type(1) {
        transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
        transform-origin: 0%; /* カスタマイズしてください */
    }
    #hamburger:checked
        ~ .c-hamburger-menu__button
        .c-hamburger-menu__button-mark:nth-of-type(2) {
        opacity: 0;
    }
    #hamburger:checked
        ~ .c-hamburger-menu__button
        .c-hamburger-menu__button-mark:nth-of-type(3) {
        transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
        transform-origin: 0%; /* カスタマイズしてください */
    }

    #wrap {
        margin: 1% 1%;
        /* background: rgba(255, 255, 255, 0.5); */
        /* opacity: 0.5; */
    }
    .child1 {
        display: flex;
        text-align: center;
        /* background-color: green; */
    }
    
    .child1 img {
        height: 60px;
    }


    .profile {
        /* background: #ffffff; */
        width: 150px;
        padding: 5% 3%;
        /* margin: 0px 0px; */
    }

    .profile__img {
        display: block;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
    }

        
    .table dd {
        margin-left: 130px;
        /* margin-right: 10px; */
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        max-width: auto;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .article {
        max-width: auto;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
        background: #FFF;
        border: 1px solid #a3a2a2;
        flex-direction: column;
        /* 縦方向の並びを維持 */
        align-items: center;
        /* 要素を中央寄せ */
        border-radius: 10px;
    }

    .slideshow-slide {
        text-align: center;
        position: relative;
        width: 100%;
        height: calc(100vw/4);
        overflow: hidden;
        border-color: #353535;
        border-radius: 5px;
        padding: 0;
        z-index: -1;
        background-color: red;
    }
}