/* body部（全体）*/

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0px;
}


/* header部 */
#banner img {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #333;
    padding: 0px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    line-height: 2.5;
}

/*カーソルを合わせたときの処理*/
nav a:hover {
    color: gray;
    text-decoration: none;
}



#wrap{
    margin: 5px;
    background: #f9f9f9;
}


/* main部 */

.content .title{
    padding: 0px;
    padding-top: 10px;
    text-align: center;
}

.content .description{
    padding: 0px;
    text-align: center;
}

.content .description a:link {
    color: blue;
    text-decoration: none; /* 下線をなくす */
}

.content .description a:visited {
    color: blue;
    text-decoration: none; /* 下線をなくす */
}

.content .description a:hover {
    color: red;
    text-decoration: underline; /* 下線を引く */
}

.content .box_scrollbar {
    width:auto;
    height:250px;
    /* padding:5px; */
    border:3px solid rgb(226, 225, 225);
    border-radius: 10px;
    /* background-color:#efefef; */
    margin-left:300px;
    margin-right:300px;
    /* color:#000; */
    /* font-size:12px; */
    overflow-y: scroll;
}

.content dl{
    /* width: 800px; */
}

.content dt{
    float: left;
    margin-left: 20px;
    /* margin-right: 10px; */
}

.content dd{
    margin-left: 200px;
}



/* プロフィール画面用設定 */
.profiles {
    display: flex; /* 複数のプロフィールを横並びにするために追加 */
    gap: 1%; /* プロフィール間のスペースを調整 */
    justify-content: center;
}

.profile {
    background: #FFF;
    width: 250px;
    padding: 2rem;
    border: 1px solid #1a1a1a;
    display: flex; /* 横並びにするために追加 */
    flex-direction: column; /* 縦方向の並びを維持 */
    align-items: center; /* 要素を中央寄せ */
}

.profile__img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem auto 1rem;
    letter-spacing: 0.1rem;
}

.profile__desc {
    line-height: 1.6rem;
}

/* 記事エリアのスタイル */
.article-area {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    padding-top: 7px; /* 上下の余白を調整 */
    padding-bottom: 7px; /* 上下の余白を調整 */
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background: #FFF;
    border: 1px solid #1a1a1a;
    flex-direction: column; /* 縦方向の並びを維持 */
    align-items: center; /* 要素を中央寄せ */
}

.article-table{
    display: none;
}


/* タグのスタイル */
.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tags span {
    background-color: #cecfcf;
    padding: 3px 10px;
    border-radius: 3px;
    color: black;
}

/* 表のスタイルを設定 */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}


/*スクロールバーを常に表示する*/
html {
    overflow-y: scroll;
}
