/* index.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 0px;
    height: 40px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    line-height: 2.5;
}

nav a:hover {
    color: gray;
    text-decoration: none;
}

.information {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.information h2 {
    font-size: 20px;
    margin: 0;
}
.information a {
    color: #333;
    text-decoration: none;
}
#wrap{
    margin: 1%;
    background: #f9f9f9;
}


/*リンク用設定*/
/* 未訪問のリンク */
.information a:link {
    color: blue;
    text-decoration: none; /* 下線をなくす */
}
/* 訪れたリンク */
.information a:visited {
    color: purple;
    text-decoration: none; /* 下線をなくす */
}
/* アクティブなリンク */
.information a:hover {
    color: red;
    text-decoration: underline; /* 下線を引く */
}


/* プロフィール画面用設定 */
.profiles {
    display: flex; /* 複数のプロフィールを横並びにするために追加 */
    gap: 1%; /* プロフィール間のスペースを調整 */
    justify-content: center;
}

.profile {
    background: #FFF;
    width: 250px;
    padding: 2rem;
    border: 1px solid #1a1a1a;
    display: flex; /* 横並びにするために追加 */
    flex-direction: column; /* 縦方向の並びを維持 */
    align-items: center; /* 要素を中央寄せ */
}

.profile__img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1rem auto 1rem;
    letter-spacing: 0.1rem;
}

.profile__desc {
    line-height: 1.6rem;
}

/* 記事エリアのスタイル */
.article-area {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    background: #FFF;
    padding: 2rem;
    border: 1px solid #1a1a1a;
    flex-direction: column; /*縦方向の並びを維持*/
    align-items: center; /* 要素を中央寄せ */
}

/* 記事タイトルのスタイル */
h1 {
    font-size: 25px;
    color: #333;
    margin-bottom: 5px;
}

/* 記事本文のスタイル */
p {
    line-height: 1.5;
    color: #666;
}

/* タグのスタイル */
.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tags span {
    background-color: #d5e4e7;
    padding: 3px 10px;
    border-radius: 3px;
    color: black;
}

/* 表のスタイルを設定 */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

