/* ページ全体のスタイル */
body {
    font-family: 'Rond B', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



/* 画像のスタイル */
img {
    max-width: 10%;
    height: auto;
}

/* ヘッダーのスタイル */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

/* ナビゲーションのスタイル */
nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* 見出しのスタイル */
h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* リンクのスタイル */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
