body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CAF50;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    width: 5%; /* 修正：元の画像サイズの5%に縮小 */
    border-radius: 50%;
    margin-right: 10px;
}

.logo-container h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #4CAF50;
}

.information {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #4CAF50;
}

p a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

p a:hover {
    background-color: #4CAF50;
    color: #fff;
}
